{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="{% static 'css/fontawesome/css/all.css' %}" />
  <title>{% block title %}TEST{% endblock %}</title>
</head>

<body class="bg-gray-100">
  <nav class="bg-[#123075] px-6 py-4 shadow">
    <div class="flex justify-between items-center container mx-auto md:flex-row md:items-center md:justify-between">
      <a href="#" class="text-white text-xl font-bold md:text-2xl">Company Name</a>
      <div class="md:flex flex-col md:flex-row md:-mx-4">
        {% if request.user.is_authenticated %}
        <div class="relative md:mx-4">
          <button class="my-1 text-white font-bold hover:text-blue-500 md:my-0" aria-haspopup="true"
            aria-expanded="false" aria-controls="dropdown-menu">
            Menu
          </button>
          <div class="absolute right-0 mt-2 w-48 bg-white rounded-lg shadow-lg z-10 hidden" id="dropdown-menu">
            <a href="#" class="block px-4 py-2 text-gray-800 hover:bg-gray-200">Home</a>
            <a href="#" class="block px-4 py-2 text-gray-800 hover:bg-gray-200">{{request.user.username}}</a>
            <a href="#" class="block px-4 py-2 text-gray-800 hover:bg-gray-200">Logout</a>
          </div>
        </div>
        {% else %}
        <a href="#" class="my-1 text-white hover:text-blue-500 md:mx-4 md:my-0">Login</a>
        {% endif %}
      </div>
    </div>
  </nav>
  <div class="container mx-auto">
    <main class="py-8 px-4 sm:px-6 md:px-8 lg:px-10">
      {% block main %}{% endblock %}
    </main>

  </div>
  {% include "components/footer.html" %}

  <script>
    document.addEventListener('DOMContentLoaded', function () {
      const button = document.querySelector('[aria-haspopup="true"]');
      const menu = document.getElementById('dropdown-menu');

      button.addEventListener('click', function () {
        const expanded = this.getAttribute('aria-expanded') === 'true' || false;
        this.setAttribute('aria-expanded', !expanded);
        menu.classList.toggle('hidden');
      });
    });
  </script>
</body>

</html>