<div style="position: fixed; bottom: 0; width: 100%;">
    <footer class="py-4 bg-footer-light text-text-dark dark:bg-background-dark dark:text-text-light mt-auto">
        <div class="container mx-auto">
            <div class="flex justify-center border-b border-text-dark dark:border-text-light pb-3 mb-3">
                <div class="mr-6">
                    <a href="/"
                        class="text-text-dark hover:text-primary dark:text-text-light dark:hover:text-primary-light">Home</a>
                </div>
                <div class="mr-6">
                    <a href="/"
                        class="text-text-dark hover:text-primary dark:text-text-light dark:hover:text-primary-light">FAQs</a>
                </div>
                <div>
                    <a href="/"
                        class="text-text-dark hover:text-primary dark:text-text-light dark:hover:text-primary-light">About
                        Us</a>
                </div>
            </div>
        </div>
    </footer>
</div>